.col-3{
    width: 400px;
    height: 350px;
    background-color: #444;
    color: #ddd;
    margin:2px;
}
.card-image {
width: 50%;
}



  
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
   
}
#site-search{
    width: 50%;
    margin: .4rem 0;
}
body {
    background-color: grey;
  }
  .pagination a {
    border: 1px solid #ddd; /* Gray */
  }